/* Fondos */

$fondo-gradiente:linear-gradient(to left, #360036,#000000);
$fondo-gradiente2:linear-gradient( #000000,#360036,#000000);

/* Colores */

$color-principal:#ffba00;
$color-secundario:#ffffff;
$color-principal-opaco: #af8000;

$sombra:0 5px 10px rgba(0, 0, 0, 0.3);
$margin-secciones: 10px 0px 10px 0px;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-color: black;   
  overflow: inherit;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  .main {
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* Header y Footer general */
.header{
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
  height: 100%; 
  box-shadow: $sombra;
  color: $color-principal;
    .header__menu {
      background-image: radial-gradient(#360036,#000000);
      text-align: center;
      justify-content: center;
      align-items: center;
      align-self: center;
      justify-self: center;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .menu__nav {
      list-style: none;
      display: flex;
      text-align: center;
      margin: 5px;
      height: 25px;
      padding: 0; 
      transition: color 0.3s; 
    }
    a {
      font-family: 'Arvo', serif;
      margin: 5px;
      text-decoration: none;
      color: #ffba00;
      font-size:18px;
      font-weight: bold;
      color: $color-principal;
      transition: color 1s;
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 7fr;
  justify-content: center;
  align-self: center;
  width: 100%;
  height:300px;
    .footer__titulo {
      text-align: center;
      width: auto;
      height: 30px;
    }
    .footer__links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: left;
      justify-content: center;
      justify-self: center;
        a {
          width: 75px;
          text-decoration: none;
          color: #a57900;
          margin-bottom: 1px;
        }
    }
}
/* Medias Header y Footer */
@media (min-width:1024px) {

  .header {
      flex-direction: flex;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .header__menu {
        display: flex;
        flex-direction: row;
        grid-template-columns: 2fr 10fr;
        grid-template-rows: 1fr;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left,#360036,#000000);
        .menu__nav {
          width: 80%;
          height: 100%;
    
          justify-content: end;
          align-items: center;
          margin-right: 10px;
        }
        .logo__mobile {
          width: 20%;
          height: 100%;
    
          justify-content: center;
          align-items: center;
          align-self: center;
        }
      }  
  } 
}

/* Index */

.presentacion {
  display: grid;
  width: 100%;
  height: 650px;
  overflow: hidden;
  box-shadow: $sombra;
  .presentacion__foto {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 650px;
    opacity: 0.3;
  }
  .presentacion__texto {
    display: block;
    position: absolute;
    align-self: center;
    width: 281px;
    justify-self: center;
    padding: 25px;
    z-index: 2;
    .presentacion__texto__parrafo {
      font-size: 13px;
      width: 280px;
    }
    .presentacion__texto__titulo {
      font-weight: 600;
      font-size: 70px;
      flex-wrap: wrap;
      line-height: 60px;
      margin-bottom: 0px;
      margin-top: 0px;
      text-align: start;
      transition: font-size 2s;
      &:hover {
        font-size: 75px;
      }
    }
  }
}

.caracteristicas {
  display: grid;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-image: linear-gradient(#360036,#000000);

  width: 100%;
  margin-bottom: 5px;
  background-color: #292929;
  .caracteristicas__articulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    .caracteristicas__item {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      width: 310px;
      margin-top: 0;
  
      font-size: 16px;
      overflow: hidden;
      p {
        width: 280px;
        align-self: center;
      }
      .caracteristicas__foto {
        width: 310px;
        justify-content: center;
        overflow: hidden;
      }
    }
  }
}

.seccion3 {
  display: grid;
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  .seccion3__foto {
    display: block;
    height: 800px;
    width: 100%;
  }
  .seccion3__botones {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    align-self: center;
    gap: 20px;
    position: absolute;
    border: none; 
    border-radius:10px; 
    
    width: 100%;  
    a {
      position: relative;
      display: inline-block;
      justify-self: center;
  
      height: 40px;
      width: 180px;
      padding: 10px 20px; 
      background-color: #ffba00;
      border: none; 
      border-radius:10px; 
      
      color: black; 
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer; 
      text-align: center;
    }
  }
}

.producciones {
  position: relative;
  display: grid;
  flex-flow: column wrap;
  justify-self: center;
  
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  .producciones__videos {

    width: 100%;
    height: 100%;
    position: relative;
    
    .videos__grupo {
      width: 80%;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr ;
      flex-flow: row wrap;
      
       .videos__videos{
        margin: 4px;
        justify-self: center;
        position: relative;
       }
    }
  }
  
}

@media (min-width:375px) {
  .presentacion__foto {
      width: 100%;
  }
}
@media (min-width:768px) {
  .presentacion__texto__parrafo {
      font-size: 18px;
  }
}
@media (min-width:1024px) {
  .presentacion__texto {
      justify-self: start;
  }
}


@media (min-width:600px) {
  .caracteristicas {
      justify-content: center;
      align-items: center;   
  }
}


@media (min-width:1000px) {
  .caracteristicas__articulos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-items: flex-start;
      .caracteristicas__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px;
        width: 400px;
        .caracteristicas__foto {
          width: 400px;
        }
      } 
  }
  

  
}

@media (min-width:1400px) {
  
  .caracteristicas {
      display: grid;
      .caracteristicas__articulos {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
        .caracteristicas__item {
          display: flex;
          flex-direction: column;
          flex-wrap: no-wrap;
          justify-content: center;
          padding: 8px;
          width: 400px;
          height: 500px;
          .caracteristicas__foto{
            width: 100%;
            justify-self: center;
            align-items: center;
          }   
        }
    }
  }

  
}

@media (max-width:1439px) {
  .producciones {
      display: none;
  }
}





/* Nosotros */
.main__nosotros {
    background-image: $fondo-gradiente2;
}

.nosotros__presentacion {
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 600px;
    overflow: hidden;

      .nosotros__fondo {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        overflow: hidden;
      }

      .nosotros__presentacion__ghetto {
        display: flex;
        flex-direction: column;
        position: absolute;
           h1 {
            font-size: 45px;
            text-align: center;
            position: relative;
            transition: font-size 1s, color 2s;
            margin: 0px;
              &:hover {
                font-size: 55px;
                color: white;
              }
           }
           .nosotros__logo {
            display: flex;
            justify-self: center;
            align-self: center;
            width: 280px;
            position: relative;
            transition: width 2s;
            &:hover {
                width: 320px;
            }
           }
      }

       
}

.sobre__nosotros {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  align-self: center;
  justify-self: center;
  margin: $margin-secciones;
  
    .sobre__nostros__texto {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    h1 {
      text-align: left;
    }
    p {
      margin: 0;
      padding: 0;
    }
}  

.nosotros__team {
  display: grid;
  flex-flow: row wrap;
   .nosotros__team__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: center;
    justify-self: center;
      h2 {
      text-align: center;
      color:$color-secundario;
      font-size: 20px;
      }
      a{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
          img{
          width: 200px;
          display: flex;
          transition: width 2s;
          border-radius: 300px;
          align-self: center;
          box-shadow: $sombra;
          &:hover {
            width: 250px;
          }
          }
          p{
          text-align: center;
          margin: 0;
          }
      }
   }
}
.nosotros__videos {
    position: relative;
    width: 100%;
    height: 315px;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
}

  @media (min-width:560px) {
    .nosotros__videos iframe {
        width: 560px;
        height: 315px;
    }
} 

