/* Fondos */

$fondo-gradiente:linear-gradient(to left, #360036,#000000);
$fondo-gradiente2:linear-gradient( #000000,#360036,#000000);

/* Colores */

$color-principal:#ffba00;
$color-secundario:#ffffff;
$color-principal-opaco: #af8000;

$sombra:0 5px 10px rgba(0, 0, 0, 0.3);
$margin-secciones: 10px 0px 10px 0px;

.header{
  box-shadow: $sombra;
  color: $color-principal;
    a {
      color: $color-principal;
      transition: color 1s;
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}

body {
  margin: 0;
  padding: 0;
  display: grid;
}

.main__nosotros {
    background-image: $fondo-gradiente2;
}

.nosotros__presentacion {
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 600px;
    overflow: hidden;

      .nosotros__fondo {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        overflow: hidden;
      }

      .nosotros__presentacion__ghetto {
        display: flex;
        flex-direction: column;
        position: absolute;
           h1 {
            font-size: 45px;
            text-align: center;
            position: relative;
            transition: font-size 1s, color 2s;
            margin: 0px;
              &:hover {
                font-size: 55px;
                color: white;
              }
           }
           .nosotros__logo {
            display: flex;
            justify-self: center;
            align-self: center;
            width: 280px;
            position: relative;
            transition: width 2s;
            &:hover {
                width: 320px;
            }
           }
      }

       
}

.sobre__nosotros {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  align-self: center;
  justify-self: center;
  margin: $margin-secciones;
  
    .sobre__nostros__texto {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    h1 {
      text-align: left;
    }
    p {
      margin: 0;
      padding: 0;
    }
}  

.nosotros__team {
  display: grid;
  flex-flow: row wrap;
   .nosotros__team__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: center;
    justify-self: center;
      h2 {
      text-align: center;
      color:$color-secundario;
      font-size: 20px;
      }
      a{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
          img{
          width: 200px;
          display: flex;
          transition: width 2s;
          border-radius: 300px;
          align-self: center;
          box-shadow: $sombra;
          &:hover {
            width: 250px;
          }
          }
          p{
          text-align: center;
          margin: 0;
          }
      }
   }
}
.nosotros__videos {
    position: relative;
    width: 100%;
    height: 315px;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
}

  @media (min-width:560px) {
    .nosotros__videos iframe {
        width: 560px;
        height: 315px;
    }
} 

