<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../Imagenes/GLM.png">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="../styles/estilos.css" rel="stylesheet">
    <title>Contacto GLM</title>
</head>
<body>
    <header class="header">
        <nav class="header__menu">
            <div class="logo__mobile"> 
                <a href="../index.html" ><img id="logo-inicio" src="../Imagenes/GLM.png"alt="Logo Ghetto Life Muzik" width="80px"></a> 
            </div>
            <ul class="menu__nav">
                <li><a src="" href="productos.html">Productos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul> 
            </div>
        </nav>  
    </header>

    <footer class="footer ">
        <div class="separador"></div>
        <h5 class="footer__titulo text-warning">Redes Sociales y Links</h5>
        
        <div class="footer__links">
            <a href="views/contacto.html">Contacto</a>
            <a href="https://www.instagram.com/ghettolifemuzik/">Instagram</a>
            <a href="https://wa.me/56954762733">Whatsapp +56954762733</a>
            <a href="https://www.youtube.com/@GhettoLifeMuzik">Youtube</a>
        </div>
        
    </footer>

</body>
</html>