<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Ghetto Life Muzik</title>
    <link rel="shorcut icon" href="../Imagenes/GLM.png">
    <link href="../styles/estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap" rel="stylesheet"> 
    <meta name="description" content="Un poco de la Historia de Ghetto Life Muzik en Santiago de Chile, Cerro Navia.
    La autogestion en sus eventos.">
    <meta name="keywords" content="HTML, JS, ESTUDIO, PRODUCCION MUSICAL, SANTIAGO, CERRO NAVIA, CHILE, NOSOTROS, GHETTO LIFE">
</head>
<body>
    <header class="header">
        <nav class="header__menu">
            <div class="logo__mobile"> 
                <a href="../index.html" ><img id="logo-inicio" src="../Imagenes/GLM.png"alt="Logo Ghetto Life Muzik" width="80px"></a> 
            </div>
            <ul class="menu__nav">
                <li><a src="" href="productos.html">Productos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul> 
            </div>
        </nav>  
    </header>
    <main class="main__nosotros">
        <section class="nosotros__presentacion">
            <div class="nosotros__fondo">
                <img src="../Imagenes/Nosotros/Presentacion nosotros.jpg" alt="piano" width="2000px">
            </div>
            <div class="nosotros__presentacion__ghetto">
              <img class="nosotros__logo" src="../Imagenes/GLM.png" alt="logo ghetto life" width="500px">
              <h1><i>Cambiando el Ghetto..</i></h1>
            </div>
        </section>
        <section class="sobre__nosotros">
            <div class="sobre__nosotros__texto">
                <h1>Sobre Nosotros</h1>
                <p>Desde el 2015 que empezamos nuestro camino como estudio musical de producción independiente
                 generando muchas instancias colaborativas con el ghetto y la gente desde hace un tiempo atras. Trabajamos en la cultura haciendo 
                 eventos en zonas de conflicto compartiendo la cultura con gente de todas las edades y sectores de santiago, desde cantantes,bailarines,dj's, etc.
                 hasta gente que no crea arte.
                 En paralelo en esos mismos años el estudio de grabación estaba en sus primeros pasos comenzando con trabajos para artistas del sector y con el grupo Carma Crew,
                 estos ultimos son los creadores de Ghetto Life.
                </p>
              </div>
        </section>
        <section class="nosotros__team">
            <div class="nosotros__team__item">
                <h2>Productor</h2>
                <a href="https://www.youtube.com/@zhelobeats"> 
                  <img src="../Imagenes/Nosotros/Zhelo Beats.jpg" alt="Imagen de productor Zhelo Beats" width="300px">
                  <p><i><strong>Zhelo Beats</strong></i></p>
                  <p>Canal de youtube</p>
                </a>
                
            </div>
        </section>
        <section class="nosotros__producciones">
            <h3>Evento 2018 "Musica de Ghetto"</h3>
            <p> Los eventos que desarrollabamos se basaban en llevar la cultura de la Black Music(Reggae - Hip Hop - Dancehall) a la población, totalmente gratuitos y para todas
                las edades. En este evento fue 1 dia de Cultura Hip Hop y el siguiente de Dancehall , donde se hicieron clases de baile gratuitas, gente vendiendo con sus stands,  
                Show de Artistas y Dj's.
            </p>
            <div class="nosotros__videos">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RCoOBZBgmXM?si=yjwOd8A2wkAOzLEo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="nosotros__producciones__despedida">
                <h3><i>Cambiando el Ghetto, no saliendo de el..</i> </h3>
                <p>El estudio fue creciendo díaramente gracias a la confianza que se fue depositando poco a poco en Ghetto Life y por la constante retroalimentación que se genera 
                en el espacio. Nos hemos encargado de que ghetto life sea un espacio donde el aprendizaje y el crecimiento sea nuestra identidad y donde sus preferencias sean 
                escuchadas.
                </p>
            </div>
        </section>
    </main>
    <footer class="footer ">
        <div class="separador"></div>
        <h5 class="footer__titulo text-warning">Redes Sociales y Links</h5>
        
        <div class="footer__links">
            <a href="views/contacto.html">Contacto</a>
            <a href="https://www.instagram.com/ghettolifemuzik/">Instagram</a>
            <a href="https://wa.me/56954762733">Whatsapp </a>
            <a href="https://www.youtube.com/@GhettoLifeMuzik">Youtube</a>
        </div>
        
    </footer> 
</body>
</html>