<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Ghetto Life Muzik</title>
    <link rel="shorcut icon" href="../Imagenes/GLM.png">
    <link href="../styles/estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap" rel="stylesheet"> 
    <meta name="description" content="Productos a ofrecer en Ghetto Life Muzik en Santiago de Chile, Cerro Navia.
    Grabaciones,Mezclas, Master,Instrumentales en sus producciones.">
</head>
<body>
    <header class="header">
        <nav class="header__menu">
            <div class="logo__mobile"> 
                <a href="../index.html" ><img id="logo-inicio" src="../Imagenes/GLM.png"alt="Logo Ghetto Life Muzik" width="80px"></a> 
            </div>
            <ul class="menu__nav">
                <li><a src="" href="productos.html">Productos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul> 
            </div>
        </nav>  
    </header>
    <main class="main__productos">
      <h1 class="main__productos__titulo">Productos</h1>
      <section class="productos1">
        <div class="productos1__items">
          <div class="productos1__items__texto">
            <h2><strong>Grabaciones</strong></h2>
            <p><strong>Instrumentos, voces o proyectos acústicos</strong>. Nos encargamos de generar una buena grabación dando consejos y técnicas para un mejor desarrollo del trabajo. 
            No olvidar que un buen trabajo de audio parte siempre por una buena grabación y nos encargamos de que asi sea.</p>
          </div>
          <div class="productos1__items__foto">
            <img src="../Imagenes/Microfono.jpg" width="300px" alt="Imagen de un microfono"> 
          </div>
          <div class="productos1__items__foto2">
            <img src="../Imagenes/Microfono.jpg" width="500px" alt="Imagen de un microfono"> 
          </div>
          <div class="productos1__items__foto3">
            <img src="../Imagenes/Microfono.jpg" width="600px" alt="Imagen de un microfono"> 
          </div>
        </div>
        <div class="productos1__items row-reverse">
          <div class="productos1__items__texto">
            <h2><strong>Beatmaking</strong></h2>
            <p><strong>Trabajo dedicado a crear instrumentales</strong> , blackmusic generalmente trabajando los mas demandados por la comunidad de artistas que trabajan con nosotros. Podemos 
            generar instrumentales desde cero , con composiciónes únicas como tambien partir desde tu composicion etc.</p>
          </div>
          <div class="productos1__items__foto">
            <img src="../Imagenes/Piano fondo1.jpg"  width="300px" alt="Imagen piano">
          </div>
          <div class="productos1__items__foto2">
            <img src="../Imagenes/Piano fondo1.jpg"  width="500px" alt="Imagen piano">
          </div>
          <div class="productos1__items__foto3 flex-start">
            <img src="../Imagenes/Piano fondo1.jpg"  width="600px" alt="Imagen piano">
          </div>
        </div>
        <div class="productos1__items">
          <div class="productos1__items__texto">
            <h2><strong>Mezcla y Master</strong></h2>
            <p><strong>Trabajo dedicado a potenciar la emoción principal de tu proyecto y el sonido de este</strong> .Mezclamos los sonidos idientificando cuales son los elementos principales 
            y como actua la presencia de estos en tu track, para luego pasar a trabajar en el track general , masterizarlo para dejarlo listo para su distribuicion y reproducción. 
            Estos procesos son las dos últimas etapas en el trabajo del audio.</p>
          </div>
          <div class="productos1__items__foto">
            <img src="../Imagenes/Apollo twin.jpg"  width="300px" alt="Imagen interfaz">  
          </div>
          <div class="productos1__items__foto2">
            <img src="../Imagenes/Apollo twin.jpg"  width="500px" alt="Imagen interfaz">  
          </div>
          <div class="productos1__items__foto3">
            <img src="../Imagenes/Apollo twin.jpg"  width="600px" alt="Imagen interfaz">  
          </div>
        </div>
      </section>
      <section class="productos__aviso">
        <div class="separador"></div>
        <div class="productos__aviso__texto"> 
          <h2>Visita nuestro catálogo <a class="text-decoration-none  link" href="#catalogo">AQUI!</a></h2>
          <h3 class="text-light">o solicita una cotización <a class="text-decoration-none  link" href="https://wa.me/56954762733">Whatsapp</a></h3>
        </div>
        <div class="separador"></div>
      </section>
  
      <section id="catalogo" class="catalogo">
        <div class="separador"></div>
        <h2>Catalogo</h2>
        
        <div class="catalogo__prodmusicalcompleta">
          <div class="separador"></div>
          <h3>Prod Musical Completa</h3> 
          <div class="catalogo__prodmusicalcompleta__items">
            <div class="catalogo__prodmusicalcompleta__promo">
              <h4 class="catalogo__subtitulo">Promo Apollo Full</h4>
              <ul>
                <li>Beat</li>
                <li>Grabación</li>
                <li>Afinación Manual</li>
                <li>Mezcla (Wav - Mp3)</li>
                <li>Master (Wav - Mp3)</li>
              </ul>
              <p class="catalogo__precio">$155.000</p>
            </div>
            <div class="catalogo__prodmusicalcompleta__promo">
              <h4 class="catalogo__subtitulo">Promo Apollo</h4>
              <ul>
                <li>Beat</li>
                <li>Grabación</li>
                <li>Mezcla (Wav - Mp3)</li>
                <li>Master (Wav - Mp3)</li>
              </ul>
              <p class="catalogo__precio">$145.000</p>
            </div>
            <div class="catalogo__prodmusicalcompleta__promo">
              <h4 class="catalogo__subtitulo">Promo Akai</h4>
              <ul>
                <li>Beat</li>
                <li>Grabación</li>
                <li>Mezcla (Wav - Mp3)</li>
                <li>Master (Wav - Mp3)</li>
              </ul>
              <p class="catalogo__precio">$125.000</p>
            </div>
          </div>
        </div>
        
        <div class="catalogo__beats">
          <div class="separador"></div>
          <h3>Beats - Instrumentales</h3> 
          <div class="catalogo__beats__items">
            <div class="catalogo__beats__item">
              <h4 class="catalogo__subtitulo">Beat a pedido</h4>
              <ul>
                <li>Proceso creativo a partir de cualquier idea. Si nos envias una referencia o tu voz ya grabada nos sirve para cohesionar mas el trabajo y asi sea mas compacto</li>
                <li>Mezcla del Beat (Wav - Mp3)</li>
                <li>PreMaster (Wav - Mp3)</li>
              </ul>
              <p class="catalogo__precio">$80.000</p>
            </div>
            <div class="catalogo__beats__item">
              <h4 class="catalogo__subtitulo">Beat de Catalogo</h4>
              <ul>
                <li>Puedes elegir entre los beats de nuestro catalogo</li>
                <li>Beat mezclado</li>
                <li>PreMasterizado</li>
              </ul>
              <p class="catalogo__precio">$50.000</p>
            </div>
            <div class="catalogo__beats__item">
              <h4 class="catalogo__subtitulo">Beat Ofertas</h4>
              <ul>
                <li>Puedes elegir entre los beats de nuestra sección de ofertas</li>
                <li>Beat mezclado</li>
                <li>PreMasterizado</li>
              </ul>
              <p class="catalogo__precio">$30.000</p>
            </div>
          </div>
          <div class="catalogo__beats__info">
            <h4>Cualquier licencia incluye</h4>
            <div class="catalogo__beats__infotexto">
              <p><strong>Archivo mp3 y Wav 24bits - 16bits (Alta Calidad)</strong></p>
              <p>Te enviamos los archivos con la calidad que corresponde </p>
            </div>
            <div class="catalogo__beats__infotexto">
              <p><strong>Escala y BPM</strong></p>
              <p>Te enviamos un texto con la escala que se uso para el Beat y su Tempo</p>
            </div>
            <div class="catalogo__beats__infotexto">
              <p><strong>Uso de librerias y efectos de la mas alta calidad</strong></p>
              <p>Trabajamos con los mejores elementos para lucir las composiciones</p>
            </div>
          </div>  
        </div>
        
        <div class="catalogo__grabaciondevoces">
          <div class="separador"></div>
          <h3>Grabación de Voces</h3> 
          <div class="catalogo__grabaciondevoces-info">
            <p>Apollo y Akai se refiere a la grabación con las distintas interfaces.</p>
            <p>El estudio cuenta con la Apollo Twin que es una interfaz de sonido PRO 
              y la interfaz Akai EIE de Media gama.
            </p>
          </div>
          <div class="catalogo__grabaciondevoces__items">
            <div class="catalogo__grabaciondevoces__item">
              <div class="catalogo__grabaciondevoces__item-promo">
                <h4 class="catalogo__subtitulo">Apollo</h4>
                <ul>
                  <li>2 Sesiones - 2Hrs c/u</li>
                  <li>Recortes, Transiciones,Fx, etc.</li>
                  <li>Mezcla (Wav - Mp3)</li>
                  <li>PreMaster (Wav - Mp3)</li>
                </ul>
                <p class="catalogo__precio">$70.000</p>
              </div>  
              <div class="catalogo__grabaciondevoces__item-promo">
                <h4 class="catalogo__subtitulo">Maqueta Apollo</h4>
                <ul>
                  <li>1 Sesiones - 2Hrs</li>
                  <li>Mezcla en la misma sesión</li>
                  <li>Stems de grabación de voz</li>
                  <li>Demo básico</li>
                </ul>
                <p class="catalogo__precio">$30.000</p> 
              </div>
            </div>
            <div class="catalogo__grabaciondevoces__item">
              <div class="catalogo__grabaciondevoces__item-promo">
                <h4 class="catalogo__subtitulo">Akai</h4>
                <ul>
                  <li>1 Sesiones - 2Hrs</li>
                  <li>Recortes, Transiciones,Fx, etc.</li>
                  <li>Mezcla (Wav - Mp3)</li>
                  <li>Master (Wav - Mp3)</li>
                </ul>
                <p class="catalogo__precio">$60.000</p> 
              </div>
              <div class="catalogo__grabaciondevoces__item-promo">
                <h4 class="catalogo__subtitulo">Maqueta Akai</h4>
                <ul>
                  <li>1 Sesiones - 2Hrs</li>
                  <li>Mezcla en la misma sesión</li>
                  <li>Stems de grabación de voz</li>
                  <li>Demo básico</li>
                </ul>
                <p class="catalogo__precio">$20.000</p> 
              </div>
            </div>
          </div>
  
          
        </div>

        <div class="catalogo__sonido">
          <div class="separador"></div>
          <h3>Ingenieria Mezcla - Master</h3>
          <div class="catalogo__sonido__items">
            <div class="catalogo__sonido__item">
              <div class="catalogo__sonido__item-promo">
                <h4>Mezcla Beat</h4>
                <p>Mezcla tus beats para poder embellecer el trabajo hecho por tu beatmaker y conseguir el resultado que tanto esperas</p>
                <p>Derecho a 3 Cambios de la mezcla, cualquier cambio extra $10.000 que se terminan sumando 3 arreglos mas con el pago</p>
                <p class="catalogo__precio">$50.000</p>
              </div>
              <div class="catalogo__sonido__item-promo">
                <h4>Mezcla de Voz</h4>
                <p>Mezcla tus voces para poder darle ese color, sonido cálido y comprimido tan buscado en el mercado y que hara relucir aún más tus grabaciones.</p>
                <p>Derecho a 3 cambios de la mezcla, cualquier cambio extra $10.000 que se terminan sumando 3 arreglos mas con el pago</p>
                <p class="catalogo__precio">$50.000</p>
              </div>
            </div>
           
            <div class="catalogo__sonido__item">
              <div class="catalogo__sonido__item-promo">
                <h4>Master</h4>
                <p>Finaliza el proceso de la ingenieria con el master, 
                  dandole los ultimos retoques para que el track suene 
                  competitivo y este listo para las plataformas digitales</p>
                <p class="catalogo__precio">$10.000</p>
              </div>
              <div class="catalogo__sonido__item-promo">
                <h4>Promo Mezcla+Master completa (Voz y Beat) </h4>
                <p>Finaliza el proceso de la ingenieria con el master, dandole los ultimos retoques para que el track suene competitivo y este listo para las plataformas digitales</p>
                <p class="catalogo__precio">$75.000</p>
              </div>
            </div>
          </div>
          
          <div class="catalogo__sonido-info">
            <h4>Cualquier licencia incluye</h4>
            <div class="catalogo__sonido__infotexto">
              <p><strong>Archivo mp3 y Wav 24bits - 16bits (Alta Calidad)</strong></p>
              <p>Te enviamos los archivos con la calidad que corresponde </p>
            </div>
            <div class="catalogo__sonido__infotexto">
              <p><strong>Escala y BPM</strong></p>
              <p>Te enviamos un texto con la escala que se uso para la Sesion y su Tempo</p>
            </div>
            <div class="catalogo__sonido__infotexto">
              <p><strong>Stems de la Mezcla</strong></p>
              <p>Enviamos el multitrack para que puedas editarlo para tus usos</p>
            </div>
  
          </div> 
  
        </div>
      </section>

    </main>
    <footer class="footer ">
        <div class="separador"></div>
        <h5 class="footer__titulo">Redes Sociales y Links</h5>
        <div class="footer__links">
            <a href="views/contacto.html">Contacto</a>
            <a href="https://www.instagram.com/ghettolifemuzik/">Instagram</a>
            <a href="https://wa.me/56954762733">Whatsapp</a>
            <a href="https://www.youtube.com/@GhettoLifeMuzik">Youtube</a>
        </div>
    </footer>
</body>
</html>