<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Ghetto Life Muzik</title>
    <link rel="shorcut icon" href="../Imagenes/GLM.png">
    <link href="../styles/estilos.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/styles.css">
    <meta name="description" content="Productos a ofrecer en Ghetto Life Muzik en Santiago de Chile, Cerro Navia.
    Grabaciones,Mezclas, Master,Instrumentales en sus producciones.">
    <style>
      a:hover {
          color: #fff;
      }
      a {
        color: #ffba00;
      }

      .separador {
            border-top: 1px solid #e0e0e0; 
            padding-top: 10px;
            margin-top: 10px; 
      }

      .foto-productos {
        height: 80%;
        width: 100%;
      }

      #catalogo img {
        margin: 0;
      }

  
      
    </style>
</head>
<body class="bg-black">
    <header class="header">
        <nav class="header__menu">
            <div class="logo__mobile"> 
                <a href="../index.html" ><img id="logo-inicio" src="../Imagenes/GLM.png"alt="Logo Ghetto Life Muzik" width="80px"></a> 
            </div>
            <ul class="menu__nav">
                <li><a src="" href="productos.html">Productos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul> 
            </div>
        </nav>  
    </header>
    <section class="seccionimagenes container mb-4">
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade ">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner h-50">
              <div class="carousel-item active">
                <img src="../Imagenes/Microfono.jpg" class="d-block  foto-productos " alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Grabaciones</h5>
                  <p>Grabación de voces e instrumentos con las mejores herramientas</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../Imagenes/Piano fondo1.jpg" class="d-block  foto-productos" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Producciones Musicales Completas</h5>
                  <p>Grabacion, Beat, Mezcla y Master en un solo pack! </p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../Imagenes/Apollo twin.jpg" class="d-block  foto-productos" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Mezcla y Master</h5>
                  <p>El sonido que buscas siempre sera la desicion correcta</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
      </div>
    </section>
    <section class="container-fluid mb-4">
      <div class="separador"></div>
      <div class="text-light text-center "> 
        <h2 class="row-sm-3 text-light">Visita nuestro catálogo <a class="text-decoration-none  link" href="#catalogo">AQUI!</a></h2>
        <h3 class="text-light">o solicita una cotización <a class="text-decoration-none  link" href="https://wa.me/56954762733">Whatsapp</a></h3>
      </div>
      <div class="separador"></div>
    </section>
    <section class="container-fluid m-4 w-100">
      <div class="accordion accordion-flush jusi" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>Grabaciones</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show bg-warning-subtle" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Instrumentos, voces o proyectos acústicos</strong>. Nos encargamos de generar una buena grabación dando consejos y técnicas para un mejor desarrollo del trabajo. No olvidar que un buen trabajo de audio parte siempre por una buena grabación y nos encargamos de que asi sea.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>Beatmaking o Instrumentales</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse bg-warning-subtle" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Trabajo dedicado a crear instrumentales</strong> , blackmusic generalmente trabajando los mas demandados por la comunidad de artistas que trabajan con nosotros. Podemos 
              generar instrumentales desde cero , con composiciónes únicas como tambien partir desde tu composicion etc. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Mezcla y Master</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Trabajo dedicado a potenciar la emoción principal de tu proyecto y el sonido de este</strong> .Mezclamos los sonidos idientificando cuales son los elementos principales y como actua la presencia de estos en tu track, para luego pasar a trabajar en el track general , masterizarlo para dejarlo listo para su distribuicion y reproducción. Estos procesos son las dos últimas etapas en el trabajo del audio.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="catalogo" class="catalogo">
      <div class="separador"></div>
      <h2>Catalogo</h2>
      <div class="separador"></div>
      <div class="catalogo__prodmusicalcompleta">
        <h3>Prod Musical Completa</h3> 
        <div class="catalogo__prodmusicalcompleta__items">
          <div class="catalogo__prodmusicalcompleta__promo">
            <h4 class="catalogo__subtitulo">Promo Apollo Full</h4>
            <ul>
              <li>Beat</li>
              <li>Grabación</li>
              <li>Afinación Manual</li>
              <li>Mezcla (Wav - Mp3)</li>
              <li>Master (Wav - Mp3)</li>
            </ul>
            <p class="catalogo__precio">$155.000</p>
          </div>
          <div class="catalogo__prodmusicalcompleta__promo">
            <h4 class="catalogo__subtitulo">Promo Apollo</h4>
            <ul>
              <li>Beat</li>
              <li>Grabación</li>
              <li>Mezcla (Wav - Mp3)</li>
              <li>Master (Wav - Mp3)</li>
            </ul>
            <p class="catalogo__precio">$145.000</p>
          </div>
          <div class="catalogo__prodmusicalcompleta__promo">
            <h4 class="catalogo__subtitulo">Promo Akai</h4>
            <ul>
              <li>Beat</li>
              <li>Grabación</li>
              <li>Mezcla (Wav - Mp3)</li>
              <li>Master (Wav - Mp3)</li>
            </ul>
            <p class="catalogo__precio">$125.000</p>
          </div>
        </div>
      </div>
      <div class="catalogo__beats">
        <h3>Beats - Instrumentales</h3> 
        <div class="catalogo__beats__items">
          <div class="catalogo__beats__item">
            <h4 class="catalogo__subtitulo">Beat a pedido</h4>
            <ul>
              <li>Proceso creativo a partir de cualquier idea. Si nos envias una referencia o tu voz ya grabada nos sirve para cohesionar mas el trabajo y asi sea mas compacto</li>
              <li>Mezcla del Beat (Wav - Mp3)</li>
              <li>PreMaster (Wav - Mp3)</li>
            </ul>
            <p class="catalogo__precio">$80.000</p>
          </div>
          <div class="catalogo__beats__item">
            <h4 class="catalogo__subtitulo">Beat de Catalogo</h4>
            <ul>
              <li>Puedes elegir entre los beats de nuestro catalogo</li>
              <li>Beat mezclado</li>
              <li>PreMasterizado</li>
            </ul>
            <p class="catalogo__precio">$50.000</p>
          </div>
          <div class="catalogo__beats__item">
            <h4 class="catalogo__subtitulo">Beat Ofertas</h4>
            <ul>
              <li>Puedes elegir entre los beats de nuestra sección de ofertas</li>
              <li>Beat mezclado</li>
              <li>PreMasterizado</li>
            </ul>
            <p class="catalogo__precio">$30.000</p>
          </div>
        </div>
        <div class="catalogo__beats__info">
          <h4>Cualquier licencia incluye</h4>
          <div class="catalogo__beats__infotexto">
            <p><strong>Archivo mp3 y Wav 24bits - 16bits (Alta Calidad)</strong></p>
            <p>Te enviamos los archivos con la calidad que corresponde </p>
          </div>
          <div class="catalogo__beats__infotexto">
            <p><strong>Escala y BPM</strong></p>
            <p>Te enviamos un texto con la escala que se uso para el Beat y su Tempo</p>
          </div>
          <div class="catalogo__beats__infotexto">
            <p><strong>Uso de librerias y efectos de la mas alta calidad</strong></p>
            <p>Trabajamos con los mejores elementos para lucir las composiciones</p>
          </div>
        </div>  
      </div>
      <div class="catalogo__grabaciondevoces">
        <h3>Grabación de Voces</h3> 
        <p>Apollo y Akai se refiere a la grabación con las distintas interfaces.</p>
        <p>El estudio cuenta con la Apollo Twin que es una interfaz de sonido PRO y la interfaz Akai EIE de Media gama.</p>
        <div class="catalogo__grabaciondevoces__item">
          <h4 class="catalogo__subtitulo">Apollo</h4>
          <ul>
            <li>2 Sesiones - 2Hrs c/u</li>
            <li>Recortes, Transiciones,Fx, etc.</li>
            <li>Mezcla (Wav - Mp3)</li>
            <li>PreMaster (Wav - Mp3)</li>
          </ul>
          <p class="catalogo__precio">$70.000</p>
        </div>  
        <div class="catalogo__grabaciondevoces__item">
          <h4 class="catalogo__subtitulo">Maqueta Apollo</h4>
          <ul>
            <li>1 Sesiones - 2Hrs</li>
            <li>Mezcla en la misma sesión</li>
            <li>Stems de grabación de voz</li>
            <li>Demo básico</li>
          </ul>
          <p class="catalogo__precio">$30.000</p> 
        </div>
        <div class="catalogo__grabaciondevoces__item">
          <h4 class="catalogo__subtitulo">Akai</h4>
          <ul>
            <li>1 Sesiones - 2Hrs</li>
            <li>Recortes, Transiciones,Fx, etc.</li>
            <li>Mezcla (Wav - Mp3)</li>
            <li>Master (Wav - Mp3)</li>
          </ul>
          <p class="catalogo__precio">$60.000</p> 
        </div>
        <div class="catalogo__grabaciondevoces__item">
          <h4 class="catalogo__subtitulo">Maqueta Akai</h4>
          <ul>
            <li>1 Sesiones - 2Hrs</li>
            <li>Mezcla en la misma sesión</li>
            <li>Stems de grabación de voz</li>
            <li>Demo básico</li>
          </ul>
          <p class="catalogo__precio">$20.000</p> 
        </div>
      </div>
      <div class="catalogo__sonido">
        <h3>Ingenieria Mezcla - Master</h3>
        <div class="catalogo__sonido__item">
          <h4>Mezcla Beat</h4>
          <p>Mezcla tus beats para poder embellecer el trabajo hecho por tu beatmaker y conseguir el resultado que tanto esperas</p>
          <p>Derecho a 3 Cambios de la mezcla, cualquier cambio extra $10.000 que se terminan sumando 3 arreglos mas con el pago</p>
          <p class="catalogo__precio">$50.000</p>
        </div>
        <div class="catalogo__sonido__item">
          <h4>Mezcla de Voz</h4>
          <p>Mezcla tus voces para poder darle ese color, sonido cálido y comprimido tan buscado en el mercado y que hara relucir aún más tus grabaciones.</p>
          <p>Derecho a 3 cambios de la mezcla, cualquier cambio extra $10.000 que se terminan sumando 3 arreglos mas con el pago</p>
          <p class="catalogo__precio">$50.000</p>
        </div>
        <div class="catalogo__sonido__item">
          <h4>Master</h4>
          <p>Finaliza el proceso de la ingenieria con el master, dandole los ultimos retoques para que el track suene competitivo y este listo para las plataformas digitales</p>
          <p class="catalogo__precio">$10.000</p>
        </div>
        <div class="catalogo__sonido__item">
          <h4>Promo Mezcla+Master completa (Voz y Beat) </h4>
          <p>Finaliza el proceso de la ingenieria con el master, dandole los ultimos retoques para que el track suene competitivo y este listo para las plataformas digitales</p>
          <p class="catalogo__precio">$75.000</p>
        </div>
        <div class="catalogo__sonido__info">
          <h4>Cualquier licencia incluye</h4>
          <div class="catalogo__sonido__infotexto">
            <p>Archivo mp3 y Wav 24bits - 16bits (Alta Calidad)</p>
            <p>Te enviamos los archivos con la calidad que corresponde </p>
          </div>
          <div class="catalogo__sonido__infotexto">
            <p>Escala y BPM</p>
            <p>Te enviamos un texto con la escala que se uso para la Sesion y su Tempo</p>
          </div>
          <div class="catalogo__sonido__infotexto">
            <p>Stems de la Mezcla</p>
            <p>Enviamos el multitrack para que puedas editarlo para tus usos</p>
          </div>

        </div> 

      </div>
    </section>
    <footer class="footer ">
        <div class="separador"></div>
        <h5 class="footer__titulo text-warning">Redes Sociales y Links</h5>
        
        <div class="footer__links">
            <a href="views/contacto.html">Contacto</a>
            <a href="https://www.instagram.com/ghettolifemuzik/">Instagram</a>
            <a href="https://wa.me/56954762733">Whatsapp +56954762733</a>
            <a href="https://www.youtube.com/@GhettoLifeMuzik">Youtube</a>
        </div>
        
    </footer>
       <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>