body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background-color: black;   
    overflow: inherit;

    display: flex;
    width: 100%;
    flex-flow: row wrap;
    
    
    
}

h1, h2, h3, h4, h5, h6 a{
    font-family: 'Arvo', serif;
    color: #ffba00;
}

p, li, ul, table, form {
    font-family: 'Open Sans', sans-serif;
    color: white;
}



.main {
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
}

.header {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;


    
    width: 100%;
    height: 100%;

    
    
}





.header__menu {
    background-image: linear-gradient( #380046,#000000);
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    

}

.menu__nav {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 5px;
    
    height: 25px;
    padding: 0; 
    transition: color 0.3s; 
}

.header__menu a {
    font-family: 'Arvo', serif;
    margin: 5px;
    text-decoration: none;
    color: #ffba00;
    font-size:18px;
    font-weight: bold;
}




.header__nav a {
    font-family: 'Arvo', serif;
    margin: 2px;
    text-decoration: none;
    color: #ffba00;
    font-size:12px;
    align-self: center;
}

.links__cambio:hover {
    color: white;
}

@media (min-width:1024px) {

    .header {
        flex-direction: flex;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .header__menu {
        display: flex;
        flex-direction: row;
        grid-template-columns: 2fr 10fr;
        grid-template-rows: 1fr;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        
    }

    .menu__nav {
        width: 80%;
        height: 100%;

        justify-content: end;
        align-items: center;
        margin-right: 10px;
    }

    .logo__mobile {
        width: 20%;
        height: 100%;

        justify-content: center;
        align-items: center;
        align-self: center;
    }

}



.presentacion {
    display: grid;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.presentacion__foto {
    display: flex;
    width: 320px;
    overflow: hidden;
    height: 650px;
    opacity: 0.3;
}

.presentacion__texto {
    display: block;
    position: absolute;
    align-self: center;
    width: 281px;
    justify-self: center;
    padding: 25px;
    z-index: 2;
}



.presentacion__texto__titulo {
    font-weight: 600;
    font-size: 70px;
    flex-wrap: wrap;
    line-height: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: start;
}

.presentacion__texto__parrafo {
    font-size: 13px;
    width: 280px;
}

@media (min-width:375px) {
    .presentacion__foto {
        width: 100%;
    }
}

@media (min-width:768px) {
    .presentacion__texto__parrafo {
        font-size: 18px;
    }
}

@media (min-width:1024px) {
    .presentacion__texto {
        justify-self: start;
        margin-left: 250px;

    }
}


.caracteristicas {
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: linear-gradient(#360036,#25007a);

    width: 100%;
    margin-bottom: 5px;
    background-color: #292929;
}

.caracteristicas__articulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.caracteristicas__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 310px;
    margin-top: 0;

    font-size: 16px;
    overflow: hidden;
}
.caracteristicas__item p {
    width: 280px;
    align-self: center;
}

.caracteristicas__foto {
    width: 310px;
    justify-content: center;
    overflow: hidden;
}



@media (min-width:600px) {
    .caracteristicas {
        justify-content: center;
        align-items: center;
        
    }

}


@media (min-width:1000px) {
    .caracteristicas__articulos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        
        
        justify-content: center;
        align-items: flex-start;
       
    }
    .caracteristicas__foto {
        width: 400px;
    }

    .caracteristicas__item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 8px;
        width: 400px;
    }
   
}

@media (min-width:1400px) {
    .caracteristicas__articulos {
        flex-wrap: no-wrap;
        
        justify-content: center;
    }
    
    .caracteristicas__item {
        display: flex;
        flex-direction: column;
        flex-wrap: no-wrap;
        justify-content: center;
        padding: 8px;
        width: 400px;
        height: 500px;
    }
    .caracteristicas {
        display: grid;
    }

    .caracteristicas__foto{
        width: 100%;
        justify-self: center;
        align-items: center;
    }
   
}




.seccion3 {
    display: grid;
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.seccion3__botones {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    align-self: center;
    
    gap: 20px;


    position: absolute;

    border: none; 
    border-radius:10px; 
    cursor: pointer;
    width: 100%;
    
}

.seccion3__foto {
    display: block;
    height: 800px;
    width: 100%;
}

.seccion3__botones a {
    position: relative;
    display: inline-block;
    justify-self: center;

    height: 40px;
    width: 180px;
    padding: 10px 20px; 
    background-color: #ffba00;
    border: none; 
    border-radius:10px; 
    

    color: black; 
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer; 
    text-align: center;

}

.producciones {
    position: relative;
    display: grid;
    flex-flow: row wrap;
    justify-self: center;
    
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

.producciones__videos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;


}
.videos__videos {
    margin: 4px;
    justify-self: center;
    position: relative;
}

.videos__grupo {
    width: 80%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0px 0px 0px;
}

@media (max-width:1439px) {
    .producciones {
        display: none;
    }
}


.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 7fr;
    justify-content: center;
    align-self: center;

    width: 100%;
    height:300px;

}

.footer__titulo {
    text-align: center;
    width: auto;
    height: 30px;
}

.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    justify-self: center;
}

.footer__links a {
    width: 75px;
    
    

    text-decoration: none;
    color: #a57900;
    margin-bottom: 1px;

}

